
.Mlinkscontainer
{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}


.Mlinkscontainer > a
{
    text-transform: capitalize;
    padding: 0 10px;
    color: rgb(136, 117, 117);
    font-size:15px;
    text-decoration: none;
    margin: 0;
    
    
}




nav {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
    height: 40px;
    width: calc(100% - 60px);
    padding: 20px 30px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    border-bottom:1px solid #c8cacd6e;
}
.nav-actions {
    display: flex;
}
.nav-btn {
    height: 40px;
    width: 60px;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.nav-btn span {
    cursor: pointer;
}
.wishlist-icon {
    height: 22px;
    width: 17px;
    background-position: -315px -187px;
}
.bag-icon {
    height: 22px;
    width: 22px;
    background-position: -341px -56px;
}
.brand-logo {
    width: 53px;
    height: 36px;
    background-position: -462px 0;
    float: left;
    cursor: pointer;
}
.search-bar {
    width: 360px;
    height: 40px;
    margin: 0px 20px;
    display: flex;
}
.search-bar input {
    width: calc(100% - 41px);
    display: flex;
    font-size: 14px;
    border: 1px solid #f5f5f6;
    border-left: 0px;
    border-radius: 0px 4px 4px 0px;
    padding: 10px;
    padding-top: 8px;
    background-color: #f5f5f6;
    color: #696e79;
}
input:focus{
    outline: none;
}
.search-btn {
    width: 40px;
    height: 38px;
    border: 1px solid #f5f5f6;
    border-right: 0px;
    border-radius: 4px 0px 0px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f6;
}
.search-icon {
    width: 21px;
    height: 21px;
    transform: scale(.7);
    background-position: -754px 0;
    cursor: pointer;
}
.number-bubble {
    position: absolute;
    background-color: #f16565;
    color: #fff;
    text-align: center;
    min-width: 8px;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 6px;
    border-radius: 10px;
    top: -3px;
    left: 32px;
}