.container {
  padding-top: 80px;
  max-width: 1600px;
  min-height: calc(100vh - 140px);
  margin: auto;
}
.web_sprite {
  background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
  background-size: 1404px 105px;
}
input[type="radio"]:checked:before {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  position: absolute;
  border-radius: 7px;
  background-color: #fff;
  content: "";
  display: inline-block;
  border: 1px solid #ff3f6c;
}
input[type="radio"]:checked:after {
  width: 45%;
  height: 45%;
  left: 20%;
  top: 20%;
  position: absolute;
  border-radius: 7px;
  background-color: #ff3f6c;
  content: "";
  display: inline-block;
  border: 1px solid #ff3f6c;
}
input[type="checkbox"]:checked:after {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 2px;
  background-color: #ff3f6c;
  content: "";
  display: inline-block;
}
/* overriding toastify position */
.Toastify__toast-container--top-right {
  top: 5em;
}
.Toastify__progress-bar-theme--dark {
  background: #ff3e6c;
}
