@font-face {
  font-family: Whitney;
  src: url(./Assets/Fonts/Whitney.woff);
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
}
